<div
  class="bg-teal-500 p-60 gap-8 flex flex-col justify-center items-center sm:p-40 max-sm:p-20 max-sm:pt-40"
>
  <div><img
    src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
    alt="home image"
    class="min-w-64"
  /></div>
  <div class="flex items-center flex-col gap-2">
    <h1 class="uppercase font-bold text-white tracking-wide text-3xl">start Framework</h1>
  <app-star colorString="white"></app-star>
  <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>
