<footer>
  <div class="bg-gray-700 text-white p-24 grid grid-cols-3 gap-6">
    <div class="flex flex-col gap-2">
      <h1 class="uppercase font-semibold tracking-wide text-2xl">location</h1>
      <p >2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div>
      <h1 class="uppercase font-semibold tracking-wide text-2xl">AROUND THE WEB</h1>
    </div>
    <div class="text-center">
      <h1 class="uppercase font-semibold tracking-wide text-2xl">ABOUT FREELANCER</h1>
      <p class="mt-2">
        Freelance is a free to use, licensed Bootstrap theme created by Route
      </p>
    </div>
  </div>
  <p class="bg-gray-800 text-white p-4 text-center">Copyright © Your Website 2021</p>
</footer>
