<div class="bg-teal-500 lg:p-72 md:p-44 sm:p-36 sm:pt-52 max-sm:p-20 max-sm:pt-60">
  <div class="flex items-center flex-col gap-2">
    <h1 class="uppercase font-bold text-white tracking-wide text-3xl lg:text-4xl xl:text-5xl">
      about component
    </h1>
    <app-star colorString="white"></app-star>
    <div class="grid grid-cols-2 gap-4 mt-4">
      <p class="text-white">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
      <p class="text-white">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
  </div>
</div>
