<nav class="bg-gray-700 fixed w-full z-50">
  <div class="mx-auto max-w-7xl px-10 h-24 flex justify-between items-center">
    <a
      class="text-2xl text-white uppercase tracking-wide font-bold cursor-pointer"
      [routerLink]="''" (click)="closeMenu()"
    >
      start framework
    </a>
    <div class="hidden md:flex gap-8">
      <app-nav-links></app-nav-links>
    </div>
    <button class="text-2xl text-white md:hidden" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  @if (isMenuOpen) {
    <div class="flex gap-8 px-8">
      <app-nav-links class="mb-2" (click)="closeMenu()"></app-nav-links>
    </div>
    }
</nav>
