<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-10 h-24 flex justify-between items-center">
    <h1 class="text-2xl text-white uppercase tracking-wide font-bold">
      start framework
    </h1>
    <div class="flex gap-8">
      @for (link of navLinks; track link.id) {
      <button
        class="text-white text-base uppercase p-2 rounded-md font-semibold cursor-pointer"
        [routerLink]="link.href"
        routerLinkActive="bg-green-600"
        [routerLinkActiveOptions]="{exact: true}"
      >
        {{ link.name }}
      </button>
      }
    </div>
  </div>
</nav>
