<div class="grid place-items-center pt-32">
  <div class="flex items-center flex-col gap-2">
    <h1 class="text-teal-600 uppercase text-3xl font-bold tracking-wide">
      contact section
    </h1>
    <app-star colorString="#2c3e50"></app-star>
  </div>
  <form class="mt-16 w-72 mb-44">
    @for (field of fields; track field.id) {
    <app-form-row
      [type]="field.type"
      [labelString]="field.name"
      [data]="field.data"
    ></app-form-row>
    }
    <button
      type="submit"
      class="bg-teal-500 rounded-md p-2 capitalize text-white font-medium mt-4"
    >
      send message
    </button>
  </form>
</div>
